# Node.js
node_modules/

# TypeScript
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# TypeScript declaration files
*.d.ts

# Environment files
/src/config.ts

# Optional npm cache directory
.npm/


# TypeScript build output
*.tsbuildinfo


# Files 

uploads/